<div class="bg-image no-p-b" ng-controller="ProfileCtrl">
  <form class="form form-dark">
    <p class="fs-15 p-md">Подключите “Консъерж” в моем поселке</p>
    <p class="fs-18 p-md col-orange fw-md">Поселок расположен</p>
    <div class="input-container input-container-sm mb-lg">
      <input type="text" placeholder="введите адрес">  
    </div>
    <p class="fs-18 p-md col-orange fw-md">Контактное лицо</p>
    <div class="input-container input-container-sm mb-lg">
      <select name="" id="">
          <option value="">председатель</option>
          <option value="">администратор</option>
          <option value="">председатель</option>
        </select>   
    </div>
    <p class="fs-18 p-md col-orange fw-md">ФИО</p>
    <div class="input-container input-container-sm mb-lg">
      <input type="text" placeholder="">  
    </div>
    <p class="fs-18 p-md col-orange fw-md">Контактный телефон</p>
    <div class="input-container input-container-sm mb-lg">
      <input type="text" placeholder="">  
    </div>
    <!-- <button class="button button-main no-mg" type="submit">Оставить заявку</button> -->
    <a href="#/request/sent" class="button button-main no-mg">Оставить заявку</a>
  </form>
</div>