<div class="bg-image VerifyCtrl no-p-b" ng-controller="ProfileChangeDataCtrl">
  <form class="form form-dark">
    <p class="fs-18 p-md col-orange fw-md">Текущий пароль</p>
    <div class="input-container input-container-sm mb-lg">
      <input type="password" placeholder="" ng-model="password">  
    </div>
    <p class="fs-18 p-md col-orange fw-md">Новый пароль</p>
    <div class="input-container input-container-sm mb-lg">
      <input type="password" placeholder="" ng-model="new_password">  
    </div>
    <p class="fs-18 p-md col-orange fw-md">Новый пароль еще раз</p>
    <div class="input-container input-container-sm mb-lg">
      <input type="password" placeholder="" ng-model="new_password_confirmation">  
    </div>
    <div class="alert alert-success" ng-show="nameSuccess" ng-bind="nameSuccess"></div>
    <button class="button button-main no-mg" ng-click="changePass(password, new_password, new_password_confirmation)">Изменить</button>
  </form>
</div>