<form class="form form-order" ng-controller="ProductOrderCtrl" name="productOrderForm">
  <div>
    <div class="product-item ta-c">
      <div class="img-container"><img ng-src="{{basePath}}{{productImage}}" ng-hide="{{imagePresentMain}}" alt=""></div>
      <h3 class="fs-18 fw-n" ng-bind="productData.title"></h3>
      <span class="d-b fs-18 fw-b col-orange" ng-hide="hideBlock">
        <span class="" ng-bind="productData.price"></span>
        <span> руб</span>
        <span> / </span>
        <span class="" ng-bind="unitRus"></span>
      </span>
      <span class="fs-12 fw-lt" ng-bind="productPaymentInfo" ng-hide="hideBlock"></span>
    </div>
    <p class="fs-15 p-md pt-md fw-lt ta-c" ng-bind="productData.text"</p>
    <div class="input-container input-nr-container">
      <label for="">Количество товара</label>
      <div class="input-container">
        <span class="icon icon-minus" ng-click="changeMinus()"></span>
        <input type="text" placeholder="0" ng-model="quantity" ng-readonly="true">
        <span class="icon icon-plus" ng-click="changePlus()"></span>
      </div>
    </div>
    <p class="col-orange fz-15 p-md mb-md ta-c"><span>Итоговая сумма: </span><span>{{sumTotal}}</span><span> руб</span></p>
    <div class="input-date" ng-class="changedDate ? 'input-date is-chosen' : 'input-date'">
      <input type="date" ng-model="date" ng-change="changeDate()" ng-readonly="productOrdered" min="{{currentDate | date:'yyyy-MM-dd'}}" name="inputDate">
      <div class="panel-item">
        <span class="panel-name">Укажите дату</span>
        <span><span class="icon icon-down"></span></span>
      </div>
    </div>
    <div class="input-date" ng-class="changedTime ? 'input-date is-chosen' : 'input-date'" ng-hide="hideTime">
      <input type="time" ng-model="time" ng-change="changeTime()" placeholder="HH:mm" ng-readonly="productOrdered">
      <div class="panel-item">
        <span class="panel-name">Укажите удобное вам время</span>
        <span><span class="icon icon-down"></span></span>
      </div>
    </div>
    <div class="textarea-block">
      <input type="text" ng-attr-placeholder="{{productData.comment_label}}" ng-model="comment" ng-value="{{productComment}}" ng-readonly="productOrdered">
    </div>
    <div class="radio-block" ng-hide="hideBlock">
      <div class="radio-hover" ng-show="productOrdered"></div>
      <div class="radio-container" ng-hide="justCash"><input type="radio" id="payment1" name="orderpayment" ng-model="paymentOption" value="card" ng-change="paymentOptionChange({{$index}})"><label for="payment1">оплатить сейчас</label></div>
      <div class="radio-container"><input type="radio" id="payment2" name="orderpayment" ng-model="paymentOption" value="cash" ng-change="paymentOptionChange({{$index}})"><label for="payment2">оплатить по факту</label></div>
    </div>
    <div class="alert alert-padding" ng-show="orderMessage">Заказ успешно размещён. <br>Заказ отправлен администрации. <br>Когда заказ будет обработан, с Вами свяжется администратор. Вы можете следить за ходом выполнения <a class="col-orange" href="#/profile/history">в своём профиле.</a></div>
    <div class="alert alert-padding" ng-show="orderMessageDeclined">Платеж не прошел.<br> Ваш заказ отклонен. <span class="col-orange" ng-click="$back()">Попробуйте еще раз</span></div>
    <button class="button button-main" ng-click="sendData($event, quantity, comment, paymentOption)">Заказать</button>
    <div class="link-xl d-b ta-c col-l-gray fs-12" ng-bind="productBottomText" ng-hide="textHide || hideBlock"></div>
  </div>
</form>